# IGNORE
# ignore all directories and files by default
/*

# TRACK
!/.gitignore

# ansible
!/ansible/

# ssh
!/.ssh/
/.ssh/*
!.ssh/config_example

# nautilus templates
!Templates/

# backup
!/backup.sh
!/backup_include
!/backup_exclude

# config files
!/.xinitrc
!/.profile
!/.zshrc
!/.gitconfig
!/.ideavimrc
!/.tmux.conf.local

# zsh
!/.zsh/
/.zsh/*
!/.zsh/aliases.sh
!/.zsh/functions.sh

# config directory
!/.config/
/.config/*

!/.config/kitty/
!/.config/nvim/
!/.config/psd/
!/.config/vifm/
!/.config/zathura/

# window manager
!/.config/bspwm/
!/.config/sxhkd/
!/.config/polybar/
!/.config/rofi/

# copyq
!/.config/copyq/
/.config/copyq/*
!/.config/copyq/copyq.conf
!/.config/copyq/copyq-commands.ini

# vscode
!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json

# ipython
!/.ipython/
/.ipython/*
!/.ipython/profile_default/
/.ipython/profile_default/*
!/.ipython/profile_default/ipython_config.py
