# IGNORE
# ignore all directories and files by default
/*

# TRACK
!/.gitignore

# ansible
!/ansible/

# ssh
!/.ssh/
/.ssh/*/
/.ssh/*
!.ssh/config_example

# nautilus templates
!Templates/

# backup
!/backup.sh
!/backup_include
!/backup_exclude

# config files
!/.profile
!/.pam_environment
!/.zshrc
!/.inputrc
!/.gitconfig
!/.ideavimrc
!/.tmux.conf.local

# zsh
!/.zsh/
/.zsh/*/
/.zsh/*
!/.zsh/aliases.sh
!/.zsh/functions.sh

# vifm
!/.vifm/

# config directory
!/.config/
/.config/*/
/.config/*

# kitty
!/.config/kitty/

# neovim
!/.config/nvim/

# profile-sync-daemon
!/.config/psd

# fcitx
!/.config/fcitx/
/.config/fcitx/*
!/.config/fcitx/config
!/.config/fcitx/addon/

# vscode
!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json

# ipython
!/.ipython/
/.ipython/*
!/.ipython/profile_default/
/.ipython/profile_default/*
!/.ipython/profile_default/ipython_config.py
