set clipboard=unnamedplus
set incsearch
set hlsearch
set ignorecase
set smartcase
set showmode

" Changing the leader key before loading plugins!
let mapleader = ','
noremap \ ,

" IdeaVimExtension
" set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert

" Easymotion
nmap <leader> <Plug>(easymotion-prefix)
vmap <leader> <Plug>(easymotion-prefix)

" IdeaVim specific
set clipboard+=ideaput
" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

" Emulated Vim plugins
set surround
set commentary
set multiple-cursors
set easymotion
set ReplaceWithRegister
set argtextobj
set textobj-entire

" Reread the configuration file
noremap \r :source ~/.ideavimrc<cr>

" Yank from cursor to end of line like 'C' and 'D'
nnoremap Y y$

" Clear the highlighting of search matches
nnoremap <c-l> :nohlsearch<cr>

" Live templates
inoremap <c-l> <c-o>:action InsertLiveTemplate<cr>

" Navigation
" Built-in jumping to previously visited locations works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" Top row
nnoremap <space>q :action QuickJavaDoc<cr>
nnoremap <space>w :action RecentChangedFiles<cr>
nnoremap <space>e :action RecentFiles<cr>
nnoremap <space>E :action RecentLocations<cr>
nnoremap <space>r :action Run<cr>
nnoremap <space>R :action Build<cr>
nnoremap <space>t :action GotoTest<cr>
nnoremap <space>T :action GotoRelated<cr>
nnoremap <space>y :action ShowUmlDiagramPopup<cr>
nnoremap <space>Y :action ShowUmlDiagram<cr>
nnoremap <space>u :action ShowUsages<cr>
nnoremap <space>U :action FindUsages<cr>
nnoremap <space>i :action GotoImplementation<cr>
nnoremap <space>I :action QuickImplementations<cr>
nnoremap <space>o :action GotoSuperMethod<cr>
nnoremap <space>p :action FindInPath<cr>
nnoremap <space>p :action FindInPath<cr>
vnoremap <space>p :action FindInPath<cr>
nnoremap <space>P :action ReplaceInPath<cr>
vnoremap <space>P :action ReplaceInPath<cr>

nnoremap <leader>i :action OptimizeImports<cr>
nnoremap <leader>o :action Tool_External Tools_Black<cr>
nnoremap <leader>O :action ReformatCode<cr>
vnoremap <leader>O :action ReformatCode<cr>

nnoremap <leader><leader>r :action ChooseRunConfiguration<cr>
nnoremap <leader><leader>R :action CMake.BuildMenu<cr>
nnoremap <leader><leader>t :action Refactorings.QuickListPopupAction<cr>

" Middle row
nnoremap <space>a :action GotoAction<cr>
nnoremap <space>s :action GotoSymbol<cr>
vnoremap <space>s :action GotoSymbol<cr>
nnoremap <space>d :action Debug<cr>
nnoremap <space>f :action GotoFile<cr>
vnoremap <space>f :action GotoFile<cr>
nnoremap <space>g :action Annotate<cr>
nnoremap <space>k :action CallHierarchy<cr>
nnoremap <space>h :action TypeHierarchy<cr>
nnoremap <space>j :action ActivateStructureToolWindow<cr>
nnoremap <space>J :action FileStructurePopup<cr>

nnoremap <leader><leader>s :action SurroundWith<cr>
vnoremap <leader><leader>s :action SurroundWith<cr>
nnoremap <leader><leader>d :action ChooseDebugConfiguration<cr>
nnoremap <leader><leader>g :action Vcs.QuickListPopupAction<cr>

" Bottom row
nnoremap <space>z :action CopyPaths<cr>
nnoremap <space>x :action CopyReference<cr>
nnoremap <space>c :action GotoClass<cr>
vnoremap <space>c :action GotoClass<cr>
nnoremap <space>b :action ToggleLineBreakpoint<cr>
nnoremap <space>n :action ActivateProjectToolWindow<cr>
nnoremap <space>m :action ShowNavBar<cr>
nnoremap <space>/ :action Find<cr>
vnoremap <space>/ :action Find<cr>
nnoremap <space>? :action Replace<cr>
vnoremap <space>? :action Replace<cr>

nnoremap <leader><leader>c :action Stop<cr>
nnoremap <leader><leader>b :action ViewBreakpoints<cr>

" Unimpaired
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [e :action MoveLineUp<cr>
nnoremap ]e :action MoveLineDown<cr>
nnoremap [r :action MoveStatementUp<cr>
nnoremap ]r :action MoveStatementDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap ]l :action GotoNextError<cr>
nnoremap [l :action GotoPreviousError<cr>
vnoremap [u :action osmedile.intellij.stringmanip.URLEncodeAction<cr>
vnoremap ]u :action osmedile.intellij.stringmanip.URLDecodeAction<cr>

" Smart selection (not working)
" vnoremap + :action SmartSelect<cr>
" nnoremap + :action SmartSelect<cr>
" vnoremap - :action SmartUnSelect<cr>
" nnoremap - :action SmartUnSelect<cr>
