[Desktop Entry]
X-SnapInstanceName=bitwarden
Name=Bitwarden
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/bitwarden_bitwarden.desktop /snap/bin/bitwarden
Terminal=false
Type=Application
Icon=/snap/bitwarden/25/meta/gui/icon.png
StartupWMClass=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
Categories=Utility;
X-GNOME-Autostart-enabled=false
